[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[packages]
flask = "*"
pymysql = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"


[requires]
python_version = "3.8"

[scripts]
start = "python ./main.py"
